.outlined-bg-button {
  background-color: $background-color;
  border: 1px solid white;
}

.outlined-bg-button:hover {
  background-color: $border-color;
}

.button.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.notification-badge{
  width: 20px;
  height: 20px;
  position: absolute;
  top: -5px;
  right: -5px;
  padding: 2px;
  background-color: $secondary-color;
  color: white;
  font-size: $sub-text;
  border-radius: 50%;
}
