@import "../../index";

.my-work-tab-button-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .date-picker-container {
    height: 48px;
    border-radius: 10px;
  }
}

.my-work-tab {
  width: fit-content!important;
  background-color: white!important;
}

.my-work-tab-content-container {
  flex-direction: column;
}

.my-work-tab-button-row .react-datepicker-popper {
  left: unset!important;
  right: 0;
}
