@import "src/screens/Application/GenerateApplication/component/ApplicationCompanyStep/ApplicationCompanyStep";
@import "src/screens/Application/GenerateApplication/component/ApplicationConfirmationStep/ApplicationConfirmationStep";
@import "src/screens/Application/GenerateApplication/component/ApplicationCreditLimitStep/ApplicationCreditLimitStep";
@import "src/screens/Application/GenerateApplication/component/ApplicationDocumentsStep/ApplicationDocumentStep";
@import "src/screens/Application/GenerateApplication/component/ApplicationPersonStep/ApplicationPersonStep";
@import "src/screens/Application/GenerateApplication/component/components/ApplicationEntityNameModal/ApplicationEntityNameModal";
@import "src/screens/Application/ViewApplication/ViewApplication";
@import "src/screens/auth/common/CommonAuthScreen/CommonAuthScreen";
@import "src/screens/auth/forgotPassword/ForgotPassword";
@import "src/screens/auth/login/LoginScreen";
@import "src/screens/auth/otpScreen/VerifyOtp";
@import "src/screens/auth/resetPassword/ResetPassword";
@import "src/screens/auth/setPassword/SetPassword";
@import "src/screens/Dashboard/Dashboard";
@import "src/screens/Clients/ClientList/ClientList";
@import "src/screens/Clients/component/clientTabs";
@import "src/screens/Clients/ViewClient/ViewClient";
@import "src/screens/Debtors/components/debtorTabs";
@import "src/screens/Debtors/ViewDebtor/DebtorsTabs";
@import "src/screens/Reports/Reports";
@import "src/screens/Reports/ViewReports/ViewReports";
@import "src/screens/Insurer/Components/InsurerMatrixTab/InsurerMatrixTab";
@import "src/screens/Insurer/InsurerList/InsurerList";
@import "src/screens/Insurer/ViewInsurer/ViewInsurer";
@import "src/screens/MyWork/MyWork";
@import "src/screens/MyWork/MyWorkNotifications/MyWorkNotifications";
@import "src/screens/MyWork/MyWorkTasks/MyWorkTasks";
@import "src/screens/MyWork/MyWorkTasks/MyWorkAddTask/MyWorkAddTask";
@import "src/screens/Overdues/OverduesList/OverduesList";
@import "src/screens/Overdues/OverduesList/AddOverdues/AddOverdues";
@import "src/screens/Claims/ClaimsList/ClaimsList";
@import "src/screens/Claims/AddViewClaims/AddViewClaims";
@import "src/screens/Settings/Settings";
@import "src/screens/Users/AddUser/AddUser";
@import "src/screens/Users/UserList/UserList";
