@import "typography";
@import "color-palette";

.react-datepicker-wrapper {
  z-index: 2;
}

.date-picker-container {
  position: relative;
  display: flex;
  align-items: center;
  height: 32px;
  padding-left: 6px;
  background-color: #ffffff;
  border: 0.063rem solid $border-color;
  border-radius: 0.313rem;

  input {
    width: 100%;
    font: $subtitle $font-regular;
    color: $field-color;
    background-color: transparent!important;
    border: none;
    outline: none;
    cursor: pointer;
  }

  span {
    position: absolute;
    right: 5px;
    font-size: 24px;
    color: $placeholder-color;
    z-index: 1;
  }
}

.breadcrumb-button-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttons-row {
  display: flex;
  align-items: center;

  button {
    margin-left: 10px;
  }
}

.breadcrumb {
  display: flex;
  align-items: center;
  font: $h6 $font-medium;
  color: $field-color;
  cursor: pointer;

  >span:first-child {
    opacity: 50%;
  }

  > span:last-child {
    color: $primary-color;
    cursor: text;
  }
}

.common-white-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 15px;
  padding: 10px 20px;
  font: $sub-text;
  background-color: white;
  border-radius: 10px;
}

.tab-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 7px 10px;
  background-color: $primary-color-1;
  border-radius: 10px;
  overflow-x: auto;
}

.tab {
  margin-right: 10px;
  padding: 15px;
  font: $title $font-medium;
  color: $field-color;
  border-radius: 10px;
  cursor: pointer;
}

.active-tab {
  color: white;
  background-color: $primary-color;
}

.tag {
  padding: 5px 15px;
  border-radius: 5px;
}

.red-tag {
  color: $error-color;
  background-color: $error-color-light;
}

.primary-tag {
  color: $primary-color-1;
  background-color: $primary-color;
}

.secondary-tag {
  color: $secondary-color;
  background-color: $secondary-color-light;
}

.alert-blue-tag {
  color: $alert-blue;
  background-color: $alert-blue-light;
}

.disabled-icon {
  opacity: .5;
}

.disabled {
  color: $field-color!important;
  opacity: .5;
}

.disabled-control {
  border: none!important;
  -moz-appearance: window;
  -webkit-appearance: none;
}

.react-dropdown-select.disabled-control .react-dropdown-select-content {
  font-family: $font-medium!important;
}

.confirmation-message {
  color: $field-color;
}
