@import "typography";
@import "color-palette";

.cursor-pointer {
  cursor: pointer;
}

.font-primary {
  color: $primary-color;
}

.font-placeholder {
  color: $placeholder-color;
}

.font-field {
  color: $field-color;
}

.d-flex {
  display: flex;
}

.just-center {
  justify-content: center;
}

.just-bet {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.ml-5 {
  margin-left: 0.313rem;
}

.ml-10 {
  margin-left: 0.625rem;
}

.ml-15 {
  margin-left: 0.938rem;
}

.mr-5 {
  margin-right: 0.313rem;
}

.mr-10 {
  margin-right: 0.625rem;
}

.mr-15 {
  margin-right: 0.938rem;
}

.form-title {
  margin-right: 25px;
  font: $subtitle $font-medium;
  color: $primary-color;
}

.date-picker-container {
  display: flex;
  align-items: center;
  height: 36px;
  padding-left: 10px;
  background-color: #ffffff;
  border: 0.063rem solid $border-color;
  border-radius: 0.313rem;

  input {
    width: 100%;
    font: $text $font-regular;
    color: $field-color;
    border: none;
    outline: none;
  }

  span {
    margin-left: 10px;
    font-size: 24px;
    color: $placeholder-color;
  }
}


.breadcrumb {
  display: flex;
  align-items: center;
  font: $h6 $font-medium;
  color: $field-color;
  cursor: pointer;

  > span:last-child {
    color: $primary-color;
    cursor: text;
  }
}

.phone-number-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 32px;
  width: 200px;
  border: 1px solid $border-color;
  border-radius: 5px;

  input {
    width: calc(100% - 70px);
    padding: 0 5px;
    flex: 1;
    border: none;
    outline: none;
  }
}

.phone-code {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  height: 100%;
  color: $placeholder-color;
  border-right: 1px solid $border-color;
  border-radius: 5px;
}
