@import "../../index";

.select-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 36px;
  border: 0.063rem solid $border-color;
  border-radius: .25rem;
}

.select {
  min-width: 5rem;
  padding: 5px 10px;
  font: $title $font-medium;
  color: $font-color;
  border: none;
  outline: none;
}

select option:checked {
  color: #ffffff;
  background-color: $primary-color;
}

select[multiple]:focus option:checked {
  color: #ffffff;
  background-color: $primary-color;
}

.select-option {
  font: $title $font-medium;
  color: $font-color;
}
