@import "../../../index";

.code-container {
  display: flex;
  align-items: center;
  margin-top: 10px;

  input {
    flex: 0;
    width: 56px !important;
    height: 56px !important;
    font: $title $font-regular;
    color: $primary-color;
  }

  input::placeholder {
    color: $primary-color;
  }
}

