@import "../../../index";

.user-detail-container {
  width: 100%;
  margin-top: 15px;
  padding: 20px 20px 30px 20px;
  font: $sub-text;
  background-color: white;
  border-radius: 10px;
}

.user-detail-grid {
  display: grid;
  grid-template-columns: calc(50% - 5%) calc(50% - 5%);
  grid-template-areas: "r1c1 r1c2" "r2c1 r2c2" "r3c1 r3c1";
  gap: 15px 10%;
}

.add-user-detail {
  display: grid;
  align-items: center;
  grid-template-columns: 120px 1fr;
}

.user-detail-title {
  min-width: 120px;
  margin-right: 20px;
  color: $primary-color;
}

.select-client-list-container {
  display: flex;
  align-items: center;
  min-height: 2rem!important;
  padding: .125rem .5rem!important;
  background-color: #ffffff!important;
  border: 0.063rem solid $border-color!important;
  border-radius: 0.313rem!important;
}

.select-client-list-container:hover, .select-client-list-container:focus, .select-client-list-container:focus-within {
  border: 0.063rem solid $border-color!important;
  box-shadow: unset!important;
}

.select-client-list-container.disabled-control {
  border: 0!important;
}

.module-container {
  display: grid;
  display: -ms-grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 200px));
  gap: 15px;
  margin-top: 15px;
}

.module {
  padding: 20px 15px;
  background-color: white;
  border-radius: 10px;

  label {
    margin: 5px 0;
  }
}

.module-title {
  margin-bottom: 10px;
  font: $h5 $font-medium;
  color: $primary-color;
}
