@import "../../../index";

.add-user-detail {
  display: flex;
  align-items: center;
  margin-right: 30px;
  padding: 10px;
  span {
    min-width: 40px;
    margin-right: 20px;
  }
}

.add-user-input, .add-user-select {
  width: 210px;
}

.module-container {
  display: grid;
  display: -ms-grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 200px));
  gap: 15px;
  margin-top: 15px;
}

.module {
  padding: 20px 15px;
  background-color: white;
  border-radius: 10px;

  label {
    margin: 5px 0;
  }
}

.module-title {
  margin-bottom: 10px;
  font: $h5 $font-medium;
  color: $primary-color;
}
